# Basics #
## 1. Quantlib Basics ##

In [3]:
import QuantLib as ql

### Date Class ###

In [4]:
date = ql.Date(31, 3, 2015)
print(date)

March 31st, 2015

In [6]:
print(f'{date.month()}-{date.dayOfMonth()}-{date.year()}')

3-31-2015

In [8]:
date.weekday() == ql.Tuesday

True

In [9]:
print("Add a day : ", date + 1)
print("Subtract a day : ", date - 1)
print("Add a week : ", date + ql.Period(1, ql.Weeks))
print("Add a month : ", date + ql.Period(1, ql.Months))
print("Add a year : ", date + ql.Period(1, ql.Years))

Add a day :  April 1st, 2015
Subtract a day :  March 30th, 2015
Add a week :  April 7th, 2015
Add a month :  April 30th, 2015
Add a year :  March 31st, 2016

In [10]:
print(date == ql.Date(31, 3, 2015))
print(date > ql.Date(30, 3, 2015))
print(date < ql.Date(1, 4, 2015))
print(date != ql.Date(1, 4, 2015))

True
True
True
True

### Calendar Class ###

In [15]:
date = ql.Date(31, 3, 2015)
us_calendar = ql.UnitedStates(ql.UnitedStates.FederalReserve)
italy_calendar = ql.Italy()
period = ql.Period(60, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)
print("Add 60 days:", raw_date)
print("Add 60 business days in US:", us_date)
print("Add 60 business days in Italy:", italy_date)

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015

In [16]:
us_busdays = us_calendar.businessDaysBetween(date, us_date)
italy_busdays = italy_calendar.businessDaysBetween(date, italy_date)
print("Business days US:", us_busdays)
print("Business days Italy:", italy_busdays)

Business days US: 60
Business days Italy: 60

In [18]:
joint_calendar = ql.JointCalendar(us_calendar, italy_calendar)
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)
print("Add 60 business days in US-Italy:", joint_date)
print("Business days US-Italy:", joint_busdays)

Add 60 business days in US-Italy: June 29th, 2015
Business days US-Italy: 60

### Schedule Class ###

In [19]:
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates(ql.UnitedStates.FederalReserve)
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = False
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month)
for i, d in enumerate(schedule):
    print(i+1, d)

1 January 2nd, 2015
2 February 2nd, 2015
3 March 2nd, 2015
4 April 1st, 2015
5 May 1st, 2015
6 June 1st, 2015
7 July 1st, 2015
8 August 3rd, 2015
9 September 1st, 2015
10 October 1st, 2015
11 November 2nd, 2015
12 December 1st, 2015
13 January 4th, 2016

In [20]:
# short stub in the front
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
first_date = ql.Date(15, 1, 2015)
date_generation = ql.DateGeneration.Backward
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month,
                       first_date)
for i, d in enumerate(schedule):
    print(i+1, d)

1 January 2nd, 2015
2 January 15th, 2015
3 February 2nd, 2015
4 March 2nd, 2015
5 April 1st, 2015
6 May 1st, 2015
7 June 1st, 2015
8 July 1st, 2015
9 August 3rd, 2015
10 September 1st, 2015
11 October 1st, 2015
12 November 2nd, 2015
13 December 1st, 2015
14 January 4th, 2016

In [22]:
# short stub at the back
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
penultimate_date = ql.Date(15, 12, 2015)
date_generation = ql.DateGeneration.Forward
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month,
                       ql.Date(),
                       penultimate_date)
for i, d in enumerate(schedule):
    print(i+1, d)

1 January 2nd, 2015
2 February 2nd, 2015
3 March 2nd, 2015
4 April 1st, 2015
5 May 1st, 2015
6 June 1st, 2015
7 July 1st, 2015
8 August 3rd, 2015
9 September 1st, 2015
10 October 1st, 2015
11 November 2nd, 2015
12 December 1st, 2015
13 December 15th, 2015
14 January 4th, 2016

In [23]:
# long stub in the front
effective_date = ql.Date(15, 12, 2014)
termination_date = ql.Date(1, 1, 2016)
first_date = ql.Date(1, 2, 2015)
date_generation = ql.DateGeneration.Backward
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month,
                       first_date)
for i, d in enumerate(schedule):
    print(i+1, d)

1 December 15th, 2014
2 February 2nd, 2015
3 March 2nd, 2015
4 April 1st, 2015
5 May 1st, 2015
6 June 1st, 2015
7 July 1st, 2015
8 August 3rd, 2015
9 September 1st, 2015
10 October 1st, 2015
11 November 2nd, 2015
12 December 1st, 2015
13 January 4th, 2016

In [24]:
# long stub at the back
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(15, 1, 2016)
penultimate_date = ql.Date(1, 12, 2015)
date_generation = ql.DateGeneration.Forward
schedule = ql.Schedule(effective_date,
                       termination_date,
                       tenor,
                       calendar,
                       business_convention,
                       termination_business_convention,
                       date_generation,
                       end_of_month,
                       ql.Date(),
                       penultimate_date)
for i, d in enumerate(schedule):
    print(i+1, d)

1 January 2nd, 2015
2 February 2nd, 2015
3 March 2nd, 2015
4 April 1st, 2015
5 May 1st, 2015
6 June 1st, 2015
7 July 1st, 2015
8 August 3rd, 2015
9 September 1st, 2015
10 October 1st, 2015
11 November 2nd, 2015
12 December 1st, 2015
13 January 15th, 2016

In [25]:
dates = [ql.Date(2,1,2015), ql.Date(2, 2,2015),
         ql.Date(2,3,2015), ql.Date(1,4,2015),
         ql.Date(1,5,2015), ql.Date(1,6,2015),
         ql.Date(1,7,2015), ql.Date(3,8,2015),
         ql.Date(1,9,2015), ql.Date(1,10,2015),
         ql.Date(2,11,2015), ql.Date(1,12,2015),
         ql.Date(4,1,2016)]
rolling_convention = ql.Following
schedule = ql.Schedule(dates, calendar, rolling_convention)
for i, d in enumerate(schedule):
    print(i+1, d)

1 January 2nd, 2015
2 February 2nd, 2015
3 March 2nd, 2015
4 April 1st, 2015
5 May 1st, 2015
6 June 1st, 2015
7 July 1st, 2015
8 August 3rd, 2015
9 September 1st, 2015
10 October 1st, 2015
11 November 2nd, 2015
12 December 1st, 2015
13 January 4th, 2016

### Interest Rate ###

In [34]:
annual_rate = 0.05
day_count = ql.ActualActual(ql.ActualActual.Historical)
compound_type = ql.Compounded
frequency = ql.Annual
interest_rate = ql.InterestRate(annual_rate,
                                day_count,
                                compound_type,
                                frequency)

In [35]:
t = 2.0
print(interest_rate.compoundFactor(t))
print((1+annual_rate)*(1.0+annual_rate))

1.1025
1.1025

In [36]:
print(interest_rate.discountFactor(t))
print(1.0/interest_rate.compoundFactor(t))

0.9070294784580498
0.9070294784580498

In [37]:
new_frequency = ql.Semiannual
new_interest_rate = interest_rate.equivalentRate(compound_type, new_frequency, t)
new_annual_rate = new_interest_rate.rate()
print(new_annual_rate)

0.04939015319191986

In [38]:
print(interest_rate.discountFactor(t))
print(new_interest_rate.discountFactor(t))

0.9070294784580498
0.9070294784580495